* {
margin: 0;
padding: 0;
box-sizing: border-box;
background-position: center ;
}



.form-register {
    width: 450px; height: 438px;
    background: #FFF3F3;
    padding: 70px;
    margin: auto;
    margin-top: 53px;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    background-size: cover 100%;
    background-position: center ;


}




.controls {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #DADADA;
    background-position: center ;
}

.botons {
    background: #FEB4C4;
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    padding: 15px;
    color:#FFF3F3;
    font-size: 13px;
    border: none;
    margin-bottom: 60px;
    float:right;
    margin-top: 20px;
    
}

.subtitulos {
color: #FEB4C4;
font-family:'Montserrat', sans-serif;
margin-bottom: 10px;

}



.titulo {
    font-family:'Montserrat', sans-serif;
    color: #000000;
    position: center;
    background-size: 500px; height: 90px;
    font-size: 25px;
    background-position: center;
    margin-top: 90px;
    margin-bottom: 0px;
    

}

.texto {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
}
